body
{
    font-family: Arial, Helvetica, verdana,tahoma,helvetica, sans-serif;
}

/* ajax__tab_celco-theme theme */
.ajax__tab_celco-theme .ajax__tab_header 
{
    font-family:arial,helvetica,clean,sans-serif;

    
    /*border-bottom:solid 5px #a50000;*/
   
	padding-top:5px;
}



.ajax__tab_celco-theme .ajax__tab_header .ajax__tab_outer 
{
    background:url('/images/ioof/tab-inactive-bg.jpg') #eeeeee repeat-x;
    /*margin:0px 0.16em 0px 0px;*/
    margin:0px 0.5em 0px 0px;
    padding:10px;
    vertical-align:bottom;
    /*border:solid 1px #a3a3a3;
    border-bottom-width:0px;*/
	-moz-border-radius: 6px 6px 0px 0px;
    -webkit-border-radius: 6px 6px 0px 0px;
    -khtml-border-radius: 6px 6px 0px 0px;
    border-radius: 6px 6px 0px 0px;
	border:1px solid #e5e5e5;
	
	border-bottom:0px;
  font-size:17px;
	overflow:hidden;
	position:relative;
	top:1px;
	behavior: url('/PIE.htc');
	font-family:Verdana, Arial, Geneva, sans-serif;
	
}

.ajax__tab_active .ajax__tab_outer
{
	 background:url('/images/ioof/tab-active-bg.jpg') #ffffff repeat-x!important;
	 -webkit-box-shadow:0px -3px 7px #cfcfcf; 
       -moz-box-shadow:0px -3px 7px #cfcfcf;
            box-shadow:0px -3px 7px #cfcfcf;
			border-top:1px solid #cccccc!important;
			behavior: url('/PIE.htc');
	
}


.ajax__tab_celco-theme .ajax__tab_header .ajax__tab_tab
{    
    /*color:#000;*/
    color: #808080;
    /*padding:0.35em 0.75em;    
    margin-right:0.01em;*/
    padding:0.05em 0.75em;    
    margin-right:0.01em;
}
.ajax__tab_celco-theme .ajax__tab_hover .ajax__tab_outer
{
    /*background: url(images/red.jpg) #bfdaff repeat-x left -1300px;*/
    color: #858585;
}
.ajax__tab_celco-theme .ajax__tab_active .ajax__tab_tab 
{
    /*color:#fff;*/
     color:#2b5940;
}
.ajax__tab_celco-theme .ajax__tab_active .ajax__tab_outer
{
    /*background:url(images/red.jpg) #a50000 repeat-x left -1400px;*/
    background-color: #e1e1e1;
}
.ajax__tab_celco-theme .ajax__tab_body
{
    font-family:Arial, Verdana, Tahoma, Sans-Serif; font-size:14px; color:#444444; line-height:21px;
    /*padding:0.25em 0.5em;*/
    padding:0.25em 1.5em;
    /*background-color:#edf5ff;    */
    background-color: #e7e7e7;
	background-image:url('/images/ioof/tabs-bg.jpg');
	background-repeat:repeat-x;
    /*border:solid 1px #808080;
    border-top-width:0px;*/
    border: 1px solid #e5e5e5;
	border-bottom: 3px solid #96ab8a;
	  -moz-border-radius: 0px 6px 6px 6px;
    -webkit-border-radius: 0px 6px 6px 6px;
    -khtml-border-radius: 0px 6px 6px 6px;
    border-radius: 0px 6px 6px 6px;
	overflow:hidden;
	
}

/* ajax__tab_red-theme theme (images/red.jpg) */
.ajax__tab_red-theme .ajax__tab_header 
{
    font-family:arial,helvetica,clean,sans-serif;
    font-size:small;
    font-weight:bold;
    border-bottom:solid 5px #a50000;
}
.ajax__tab_red-theme .ajax__tab_header .ajax__tab_outer 
{
    background:url(images/red.jpg) #d8d8d8 repeat-x;
    margin:0px 0.16em 0px 0px;
    padding:1px 0px 1px 0px;
    vertical-align:bottom;
    border:solid 1px #a3a3a3;
    border-bottom-width:0px;
}
.ajax__tab_red-theme .ajax__tab_header .ajax__tab_tab
{    
    color:#000;
    padding:0.35em 0.75em;    
    margin-right:0.01em;
}
.ajax__tab_red-theme .ajax__tab_hover .ajax__tab_outer 
{
    background: url(images/red.jpg) #bfdaff repeat-x left -1300px;
}
.ajax__tab_red-theme .ajax__tab_active .ajax__tab_tab 
{
    color:#fff;
}
.ajax__tab_red-theme .ajax__tab_active .ajax__tab_outer
{
    background:url(images/red.jpg) #a50000 repeat-x left -1400px;
}
.ajax__tab_red-theme .ajax__tab_body 
{
    font-family:verdana,tahoma,helvetica;
    font-size:10pt;
    padding:0.25em 0.5em;
    background-color:#edf5ff;    
    border:solid 1px #808080;
    border-top-width:0px;
}

/* ajax__tab_lightblue-theme theme (images/lightblue.jpg) */
.ajax__tab_lightblue-theme .ajax__tab_header 
{
    font-family:arial,helvetica,clean,sans-serif;
    font-size:small;
    border-bottom:solid 5px #c2e0fd;
}
.ajax__tab_lightblue-theme .ajax__tab_header .ajax__tab_outer 
{
    background:url(images/lightblue.jpg) #d8d8d8 repeat-x;
    margin:0px 0.16em 0px 0px;
    padding:1px 0px 1px 0px;
    vertical-align:bottom;
    border:solid 1px #a3a3a3;
    border-bottom-width:0px;
}
.ajax__tab_lightblue-theme .ajax__tab_header .ajax__tab_tab
{    
    color:#000;
    padding:0.35em 0.75em;    
    margin-right:0.01em;
}
.ajax__tab_lightblue-theme .ajax__tab_hover .ajax__tab_outer 
{
    background: url(images/lightblue.jpg) #bfdaff repeat-x left -1300px;
}
.ajax__tab_lightblue-theme .ajax__tab_active .ajax__tab_tab 
{
    color:#000;
}
.ajax__tab_lightblue-theme .ajax__tab_active .ajax__tab_outer
{
    background:url(images/lightblue.jpg) #ffffff repeat-x left -1400px;
}
.ajax__tab_lightblue-theme .ajax__tab_body 
{
    font-family:verdana,tahoma,helvetica;
    font-size:10pt;
    padding:0.25em 0.5em;
    background-color:#ffffff;    
    border:solid 1px #808080;
    border-top-width:0px;
}

/* ajax__tab_green-theme theme (images/green.jpg) */
.ajax__tab_green-theme .ajax__tab_header 
{
    font-family:arial,helvetica,clean,sans-serif;
    font-size:small;
    border-bottom:solid 5px #7cdb44;
}
.ajax__tab_green-theme .ajax__tab_header .ajax__tab_outer 
{
    background:url(images/green.jpg) #d8d8d8 repeat-x;
    margin:0px 0.16em 0px 0px;
    padding:1px 0px 1px 0px;
    vertical-align:bottom;
    border:solid 1px #a3a3a3;
    border-bottom-width:0px;
}
.ajax__tab_green-theme .ajax__tab_header .ajax__tab_tab
{    
    color:#000;
    padding:0.35em 0.75em;    
    margin-right:0.01em;
}
.ajax__tab_green-theme .ajax__tab_hover .ajax__tab_outer 
{
    background: url(images/green.jpg) #bfdaff repeat-x left -1300px;
}
.ajax__tab_green-theme .ajax__tab_active .ajax__tab_tab 
{
    color:#fff;
}
.ajax__tab_green-theme .ajax__tab_active .ajax__tab_outer
{
    background:url(images/green.jpg) #7cdb44 repeat-x left -1400px;
}
.ajax__tab_green-theme .ajax__tab_body 
{
    font-family:verdana,tahoma,helvetica;
    font-size:10pt;
    padding:0.25em 0.5em;
    background-color:#edf5ff;    
    border:solid 1px #808080;
    border-top-width:0px;
}
/* ajax__tab_orange-theme theme (images/orange.jpg) */
.ajax__tab_orange-theme .ajax__tab_header 
{
    font-family:arial,helvetica,clean,sans-serif;
    font-size:small;
    border-bottom:solid 5px #84aeef;
}
.ajax__tab_orange-theme .ajax__tab_header .ajax__tab_outer 
{
    background:url(images/orange.jpg) #d8d8d8 repeat-x;
    margin:0px 0.16em 0px 0px;
    padding:1px 0px 1px 0px;
    vertical-align:bottom;
    border:solid 1px #a3a3a3;
    border-bottom-width:0px;
}
.ajax__tab_orange-theme .ajax__tab_header .ajax__tab_tab
{    
    color:#000;
    padding:0.35em 0.75em;    
    margin-right:0.01em;
}
.ajax__tab_orange-theme .ajax__tab_hover .ajax__tab_outer 
{
    background: url(images/orange.jpg) #bfdaff repeat-x left -1300px;
}
.ajax__tab_orange-theme .ajax__tab_active .ajax__tab_tab 
{
    color:#fff;
}
.ajax__tab_orange-theme .ajax__tab_active .ajax__tab_outer
{
    background:url(images/orange.jpg) #84aeef repeat-x left -1400px;
}
.ajax__tab_orange-theme .ajax__tab_body 
{
    font-family:verdana,tahoma,helvetica;
    font-size:10pt;
    padding:0.25em 0.5em;
    background-color:#edf5ff;    
    border:solid 1px #808080;
    border-top-width:0px;
}

/* ajax__tab_darkblue-theme theme (images/darkblue.jpg) */
.ajax__tab_darkblue-theme .ajax__tab_header 
{
    font-family:arial,helvetica,clean,sans-serif;
    font-size:small;
    border-bottom:solid 5px #84aeef;
}
.ajax__tab_darkblue-theme .ajax__tab_header .ajax__tab_outer 
{
    background:url(images/darkblue.jpg) #d8d8d8 repeat-x;
    margin:0px 0.16em 0px 0px;
    padding:1px 0px 1px 0px;
    vertical-align:bottom;
    border:solid 1px #a3a3a3;
    border-bottom-width:0px;
}
.ajax__tab_darkblue-theme .ajax__tab_header .ajax__tab_tab
{    
    color:#000;
    padding:0.35em 0.75em;    
    margin-right:0.01em;
}
.ajax__tab_darkblue-theme .ajax__tab_hover .ajax__tab_outer 
{
    background: url(images/darkblue.jpg) #bfdaff repeat-x left -1300px;
}
.ajax__tab_darkblue-theme .ajax__tab_active .ajax__tab_tab 
{
    color:#fff;
}
.ajax__tab_darkblue-theme .ajax__tab_active .ajax__tab_outer
{
    background:url(images/darkblue.jpg) #84aeef repeat-x left -1400px;
}
.ajax__tab_darkblue-theme .ajax__tab_body 
{
    font-family:verdana,tahoma,helvetica;
    font-size:10pt;
    padding:0.25em 0.5em;
    background-color:#edf5ff;    
    border:solid 1px #808080;
    border-top-width:0px;
}
/* ajax__tab_blueGrad-theme theme (images/blueGrad.jpg) */
.ajax__tab_blueGrad-theme .ajax__tab_header 
{
    font-family:arial,helvetica,clean,sans-serif;
    font-size:small;
    color:#ffffff;
    border-bottom:solid 5px #84aeef;
}
.ajax__tab_blueGrad-theme .ajax__tab_header .ajax__tab_outer 
{
    background:url(images/blueGrad.jpg) repeat-x;
    margin:0px 0.16em 0px 0px;
    padding:1px 0px 1px 0px;
    vertical-align:middle;
    border:solid 1px #a3a3a3;
    border-bottom-width:0px;
}
.ajax__tab_blueGrad-theme .ajax__tab_header .ajax__tab_tab
{    
    color:#ffffff;
    padding:0.35em 0.75em;    
    margin-right:0.01em;
}
.ajax__tab_blueGrad-theme .ajax__tab_hover .ajax__tab_outer 
{
    background: url(images/blueGrad.jpg) #84aeef repeat-x left -1300px;
}
.ajax__tab_blueGrad-theme .ajax__tab_active .ajax__tab_tab 
{
    color:#fff;
}
.ajax__tab_blueGrad-theme .ajax__tab_active .ajax__tab_outer
{
     background:url(images/blueGrad.jpg) #84aeef repeat-x left -1400px;  
}
.ajax__tab_blueGrad-theme .ajax__tab_body 
{
    font-family:verdana,tahoma,helvetica;
    font-size:10pt;
    padding:0.25em 0.5em;
    background-color:#edf5ff;    
    border:solid 1px #808080;
    border-top-width:0px;
}