th a, th
{
	text-decoration:none;
	font-family:Arial;
}

.itemrow
{
	background-image:url('/images/lemonaid/partials/gridrow_bg.png');
	background-repeat:repeat-x;
	background-color:#409ae2;
	color:#004075;
	font-size:16px;
	font-weight:bold;
	font-family:Arial, Sans Serif;
}

.newpagerstyle
{
	font-size:14px;
	color:#ffbb51;
	font-family:Arial;
	font-weight:bold;
	background-image:url('/images/lemonaid/partials/shadow.png');
	background-repeat:repeat-x;
	background-position:5px 0px;
	display:none;
	text-decoration:none;
	
}

.padbottom
{
  background-image:url('/images/lemonaid/partials/headbg.jpg');
  background-repeat:repeat-x;
  background-position:bottom;
}

.textbox
{
	background-color:Transparent;
	border:0;
	font-family:Arial, Sans Serif;
	font-size:15px; 
	color: #004075; 
	font-weight:bold; 
	vertical-align:middle;
	
}

.dropdownlist
{
	background-color:Transparent;
	border:0;
	font-family:Arial, Sans Serif;
	font-size:15px; 
	color: #004075; 
	font-weight:bold; 
	vertical-align:middle;
	
}

.dropdownlist option
{
	background-color:#FFFFFF;
}


.admin_bodytext_blue
{
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	font-family:Arial;
	line-height:40px;
	vertical-align:middle;
	text-align:right;
	padding-right:15px;
	
}

.admin_bodytext_white
{
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial;
    line-height: 40px;
    vertical-align: middle;
    text-align: right;
    padding-right: 15px;
}

.butstayleft
{
	text-align:left;
}

.al
{
    text-align:left;
}
.ar
{
    text-align:right;
}
.ac
{
    text-align:center;
}

.hide, .hidden
{
    display:none;
}
.nosize {
	/*position:absolute;*/
	width:0px !important;
	height:0px !important;
	overflow:hidden;
    padding:0 !important;
    margin:0 !important;
    border: 0 !important;
}

.watermarked
{
	background-color:Transparent;
	border:0;
	font-family:Arial, Verdana, Tahoma, Sans-Serif;
	font-size : 15px;
    font-style: italic;
    color: Gray;
	vertical-align:middle;
}

.SemiTransparentBg
{
    /*background-color: #FFFFFF;*/
    background-image: url('../Images/inactive-bg.gif');
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    position: absolute;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    z-index: -1;
}

.noselect
{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: move;
}
.DragHandle
{
    width: 18px;
}
.myDragClass
{
    background-color: #F2F7FB !important;
}
.myDragClass td
{
    background-color: #F2F7FB !important;
}
.showDragHandle
{
    background-image:url(/images/icons/updown.gif) !important;
    background-repeat:no-repeat !important;
    background-position:center center !important;
}
.cursor_pointer
{
    cursor: pointer;
}
