ul.sdt_menu
{
	margin:0;
	padding:0;
	list-style: none;
	font-family:"Myriad Pro", "Trebuchet MS", sans-serif;
	font-size:14px;
    width:1024px;
    overflow: visible;
}
ul.sdt_menu a
{
	text-decoration:none;
	outline:none;
	
}
ul.sdt_menu li
{
	float:left;
	width:160px;
	height:85px;
	position:relative;
	cursor:pointer;
	text-align:center;
	margin:0px;
    padding: 0px;
	background-image: none;
}
ul.sdt_menu li > a
{
	position:absolute;
	top:0px;
	left:0px;
	width:160px;
	height:85px;
	z-index:120;
	/*background:transparent url(../images/overlay.png) no-repeat bottom right;*/
}
ul.sdt_menu li a img
{
	border:none;
	position:absolute;
	width:0px;
	height:0px;
	bottom:0px;
	left:85px;
	z-index:1000;

}
ul.sdt_menu li span.sdt_wrap
{
	position:absolute;
	top:25px;
	left:0px;
	width:160px;
	height:60px;
	z-index:150;
}
ul.sdt_menu li span.sdt_active
{
	position:absolute;
	background:#fff;
	top:85px;
	width:160px;
	height:0px;
	left:0px;
	z-index:140;
	 border-bottom:1px solid #0078d8;
	  border-left:1px solid #0078d8;
	   border-right:1px solid #0078d8;

}
ul.sdt_menu li span span.sdt_link,
ul.sdt_menu li span span.sdt_descr,
ul.sdt_menu li div.sdt_box a
{
	margin-left:0px;
	
}
ul.sdt_menu li span span.sdt_link
{
	color:#0078d8;
	font-weight:bold;
	font-size:24px;
	/*float:center;*/
	clear:both;
	text-transform:uppercase;
}
ul.sdt_menu li span span.sdt_descr
{
	color:#0B75AF;
	float:left;
	clear:both;
	width:155px; /*For dumbass IE7*/
	font-size:10px;
	letter-spacing:1px;
	font-weight:bold;
}
ul.sdt_menu li div.sdt_box
{
	display:block;
	position:absolute;
	/*width:145px;*/
    width: 245px;
	min-height:160px;
	padding-bottom:10px;
	top:85px;
	padding-left:15px;
	display:none;
	background:#004075;
	text-align:left;
}
ul.sdt_menu li:last-child div.sdt_box {
    left: -245px!important;
}

ul.sdt_menu li div.sdt_box a
{
	/*float:left;
	clear:both;*/
    display:block;
	line-height:30px;
	color:#adc2d3;
	font-size:14px;
}
/*ul.sdt_menu li div.sdt_box a:first-child{*/
ul.sdt_menu li div.sdt_box div:first-child
{
	margin-top:15px;
}
ul.sdt_menu li div.sdt_box a:hover
{
	color:#fff;
}

div.sdt_box_item
{
    position:relative;
	display:block;
}

div.sdt_boxsub
{
    position:absolute;
    top:0px;
    left:145px;
    left:0px;
    width: 200px;
	min-height:160px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:15px;
	background:#004075;
    display:none;
}

div.sdt_boxsub a
{
    display:block;
	line-height:30px;
	color:#adc2d3;
	font-size:14px;
}
