BODY
{
	/*background-color:Black;*/
}
.PagerContainerTable
{
	float: right;
    color: #d1d1e1;
	background-color: #FFFFFF;
    border-collapse: collapse;
    padding: 0px;
}
.PagerInfoCell
{
	padding-right: 6px;
	padding-left: 6px;
	padding-bottom: 3px;
	font: 14px arial, verdana, geneva, lucida, 'lucida grande' , arial, helvetica, sans-serif;
	font-size:75%;
	color: #434343;
	padding-top: 3px;
	white-space: nowrap;
	background-color: #FFFFFF;
	font-weight:bold;
}
.PagerInfoCell:link
{
	color: #434343;
	text-decoration: none;
}
.PagerInfoCell:visited
{
	color: #434343;
	text-decoration: none;
}
/*.PagerInfoCell:hover
{
	color: #434343;
	text-decoration: underline;
}
.PagerInfoCell:active
{
	color: #434343;
	text-decoration: underline;
}*/

.PagerCurrentPageCell
{
	color: #FFFFFF;
	font-weight:bold;
	background-color: #1476c4;
    border: 1px solid #e6e6e6;
    width: 35px;
    height: 35px;
    padding: 0px;
    text-align: center;
    vertical-align: middle;
}
.PagerCurrentPageCell *
{
	color: #FFFFFF;
}
.PagerOtherPageCells
{
	color: #434343;
	background-color: #FFFFFF;
    border: 1px solid #e6e6e6;
    width: 35px;
    height: 35px;
    padding: 0px;
    text-align: center;
    vertical-align: middle;
}
.PagerSSCCells
{
	color: #434343;
	background-color: #FFFFFF;
    border: 1px solid #e6e6e6;
    width: 35px;
    height: 35px;
    padding: 0px;
    text-align: center;
    vertical-align: middle;
}

.PagerHyperlinkStyle
{
	font: 15px arial, verdana, geneva, lucida, 'lucida grande' , arial, helvetica, sans-serif;
}
.PagerHyperlinkStyle:hover
{
	color: #004075;
	text-decoration:none;
	font: 15px arial, verdana, geneva, lucida, 'lucida grande' , arial, helvetica, sans-serif;
	font-weight:bold;
}
.PagerHyperlinkStyle:link
{
	color: #434343;
	text-decoration: none;
	font: 15px arial, verdana, geneva, lucida, 'lucida grande' , arial, helvetica, sans-serif;
	font-weight:bold;
}
.PagerHyperlinkStyle:visited
{
	color: #434343;
	text-decoration: none;
	font: 15px arial, verdana, geneva, lucida, 'lucida grande' , arial, helvetica, sans-serif;
	font-weight:bold;
}
.PagerHyperlinkStyle:active
{
	color: #434343;
	text-decoration: none;
	font: 15px arial, verdana, geneva, lucida, 'lucida grande' , arial, helvetica, sans-serif;
	font-weight:bold;
}

.GoToLabel
{
	font: 14px arial, verdana, geneva, lucida, 'lucida grande' , arial, helvetica, sans-serif;
	font-weight:bold;
	color:#434343;
	cursor:pointer;
	font-size:75%;
	vertical-align:middle;
	display:inline;
}
.GoToSelect
{
	font-size:65%;
}
.GoToSelectedOption
{
	color:#f9f9f9;
	background-color:#004075;
}

.GoToArrow
{
	vertical-align:middle;
	cursor:pointer;
	display:none;
}