<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/CSS/menu">
    <include path="~/libraries/smartmenus/css/sm-core-css.css" />
    <include path="~/libraries/smartmenus/css/sm-blue/sm-blue.css" />
    <include path="~/libraries/smartmenus/css/sm-horizontal.css" />
	<include path="~/libraries/smartmenus/css/sm-base.css" />
	<include path="~/Controls/Menu/menu_override.css" />
  </styleBundle>
  <styleBundle path="~/CSS/BannerGallery">
    <include path="~/libraries/masterslider/style/masterslider.css" />
    <include path="~/libraries/masterslider/skins/default/style.css" />
  </styleBundle>
  <styleBundle path="~/CSS/site">
    <include path="~/CSS/base.css" />
    <include path="~/CSS/site.css" />
  </styleBundle>
  <styleBundle path="~/CSS/calendar">
    <include path="~/Controls/CalendarNew/mytabs.css" />
    <include path="~/Controls/CalendarNew/date-nav.css" />
    <include path="~/Controls/CalendarNew/grid.css" />
    <!--<include path="~/Controls/CalendarNew/grid-table.css" />-->
  </styleBundle>
    <styleBundle path="~/CSS/forum">
		<include path="~/css/modal.css" />
		<include path="~/Membership/Content/forum.min.css" />
    </styleBundle>
	<styleBundle path="~/CSS/slick">
		<include path="~/Libraries/slick-1.8.1/slick/slick.css" />
		<include path="~/Libraries/slick-1.8.1/slick/slick-theme.css" />
	</styleBundle>
</bundles>