<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <!--<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>-->
    <section name="ajaxControlToolkit" type="AjaxControlToolkit.AjaxControlToolkitConfigSection, AjaxControlToolkit" />
  </configSections>
  <appSettings>
    <add key="CMServer_External" value="Server=127.0.0.1;Initial Catalog=eko_otp;user id=eko;Password=Pt3Zq8w?9*; Max Pool Size=1000" />
    <add key="CMServer" value="Server=127.0.0.1;Initial Catalog=eko_otp;user id=eko;Password=Pt3Zq8w?9*; Max Pool Size=1000" />
    <add key="dbConnection" value="Server=127.0.0.1;Initial Catalog=eko_otp;user id=eko;Password=Pt3Zq8w?9*; Max Pool Size=1000" />
    <add key="dbResources" value="Server=127.0.0.1;Initial Catalog=EKO_OTP_Resources;user id=eko;Password=Pt3Zq8w?9*; Max Pool Size=1000" />
    <add key="SiteName" value="EKOOTP" />
    <add key="SiteTitle" value="EKO" />
    <add key="SiteTitleFR" value="EKO" />
    <add key="EmailFromName" value="EKO" />
    <add key="EmailFrom" value="info@bluelemonmedia.com" />
    <add key="SiteUrl" value="ekootp.bluelemonmedia.com" />
    <add key="SiteUrlFR" value="ekootp.bluelemonmedia.com" />
    <add key="eCardMailTo" value="juan@bluelemonmedia.com" />
    <add key="eCardMailCC" value="juan@bluelemonmedia.com" />
    <add key="eCardMailSubj" value="eCard" />
    <add key="AdminRightsAccessLevel" value="4" />
    <add key="PageTitleMinLen" value="0" />
    <!--Styles and fonts-->
    <add key="CSSVersion" value="202511181010" />
    <add key="FontsUrl" value="" />
    <add key="EditorCss" value="/css/site.css" />
    <add key="EditorDropdownH1" value="font-family: gill-sans-nova, Arial, sans-serif;font-size:33px; font-weight:400; color:#573494;" />
    <add key="EditorDropdownH2" value="font-family: gill-sans-nova, Arial, sans-serif;font-size:28px; font-weight:400; color:#573494;" />
    <add key="EditorDropdownH3" value="font-family: gill-sans-nova, Arial, sans-serif;font-size:18px; font-weight:bold; color:#000000;" />
    <!--<add key="EditorDropdownH4" value="font-family: Arial, Helvetica, sans-serif; font-size:18px; font-weight: bold;color: #000000;" />-->
	<add key="EditorDropdownBody" value="font-family: gill-sans-nova, Arial, sans-serif;font-size:19px; font-weight:300; color:#444444;" />
    <!-- Admin Notification -->
    <add key="MAIL_CC" value="" />
    <add key="MAIL_BCC" value="" />
    <!-- Password validation-->
    <add key="ValidatorId" value="3" />
    <!--HR Module-->
    <add key="HrExternalEmail" value="vivian@bluelemonmedia.com" />
    <add key="HrInternalEmail" value="vivian@bluelemonmedia.com" />
    <!--<add key="MaxFileSize" value="20480000" />-->
    <add key="MaxFileSize" value="500000000" />
    <add key="AlwaysWithEN" value="false" />
    <!--60-->
    <add key="PageTitleMaxLen" value="70" />
    <add key="PageDescMinLen" value="0" />
    <!--170-->
    <add key="PageDescMaxLen" value="200" />
    <!--Marketplace-->
    <add key="MarketPlaceEmailTo" value="juan@bluelemonmedia.com" />
    <!--Resources -->
    <add key="Resources.Video.Path" value="/Data/Resources/" />
    <add key="Resources.Page" value="resources" />
    <add key="Resources.ItemTemplate" value="/Controls/EKO_Resources/Template.html" />
    <add key="Resources.ItemTemplate.DefaultDescription" value="" />
    <add key="Resources.ItemTemplate.Footer" value="view resource" />
    <add key="Resources.Page.Details" value="resource" />
	<add key="EKOMembersSeo" value="EKOMembers" />
	<add key="BuildingCapacityPage" value="/buildingcapacity" />
    <add key="BuildingCapacityGroup" value="21" />
	<!--Organizations-->
	  <add key="Organizations.Logo.Path" value="/Data/MemberDirectory/" />
	  <add key="Organizations.Page" value="/memberdirectory" />
    <!--Forum-->
	  <add key="Forum.Page" value="/membership" />
    <!--Others -->
	  <add key="WidgetImagesPath" value="/Data/ImagesWidget/" />
	  <add key="MembersErrorPage" value="/oopssomethingwentwrong/" />
	  <add key="AwardImagesPath" value="/Data/ImagesAward/" />
	  <!--PNCA-->
	  <add key="Organizations.PNCA.Logo.Path" value="/Data/PNCA_Directory/" />
	  <add key="Organizations.PNCA.Page" value="/pncadirectory" />
	  <add key="Organizations.PNCA.ItemTemplate" value="/Controls/PNCA_Directory/Template.html" />
	  <!--Videos-->
	  <add key="Videos.Path" value="/Data/Videos/" />
	  <add key="Videos.Comment.MaxLength" value="200" />
	  
	<!--Querystring filter -->
	<add key="Whitelist:*" value="pv,th" />
	<add key="Whitelist:/home" value="p,pv" />
	<add key="Whitelist:/newsroom" value="newsid,pv,utm_source,utm_medium,utm_id,utm_campaign" />
	<add key="Whitelist:/membernews" value="newsid,pv,utm_source,utm_medium,utm_id,utm_campaign" />
	<add key="Whitelist:/EKOMembers" value="zd,g,ap,t,q,pv,c,m,utm_source,utm_medium,utm_id,utm_campaign,category" />
	<add key="Whitelist:/CMEYprovincial" value="zd,g,ap,t,q,pv,c,m,utm_source,utm_medium,utm_id,utm_campaign,category" />
	<add key="Whitelist:/visionmandate" value="t,pv" />
	<add key="Whitelist:/governance" value="t,pv" />
	<add key="Whitelist:/annualreports" value="t,pv" />
	<add key="Whitelist:/contact" value="t,pv" />
	<add key="Whitelist:/ourmembers" value="t,pv" />
	<add key="Whitelist:/memberdirectory" value="t,pv" />
	<add key="Whitelist:/valueofmembership" value="t,pv" />
	<add key="Whitelist:/tributeawards" value="t,pv" />
	<add key="Whitelist:/careerandvolunteerawards" value="t,pv" />
	<add key="Whitelist:/login" value="c,t,pv,ReturnUrl,ap,g,t,q,r" />

	<add key="Whitelist:/search" value="q,pv" />
	<add key="Whitelist:/membersearch" value="q,pv" />
	  
	<add key="Whitelist:/resources" value="library,category,subcategory,search_term,pv,save" />
	<add key="Whitelist:/resource" value="step,pv" />

	<add key="Whitelist:/admin.aspx" value="c,m" />
	<add key="Whitelist:/controls/content/edit.aspx" value="id,PageId" />
	<add key="Whitelist:/controls/Zone/Zone.aspx" value="zone,PageId" />
	<add key="Whitelist:/OpenFile.ashx" value="id" />
	<add key="Whitelist:/ThumbNail.ashx" value="PictureID,maxsz" />

  </appSettings>
  <connectionStrings>
    <add name="CMServer" connectionString="Data Source=127.0.0.1;Initial Catalog=EKO_OTP;Persist Security Info=True;User ID=eko;Password=Pt3Zq8w?9*; Max Pool Size=1000" providerName="System.Data.SqlClient" />
    <add name="yafnet" connectionString="data source=127.0.0.1;initial catalog=EKO_OTP_Forum;user id=eko;Password=Pt3Zq8w?9*" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <location path="." inheritInChildApplications="false">
    <system.web>
      <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
      <compilation debug="true" targetFramework="4.8" batch="false">
        <assemblies>
          <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
          <add assembly="System.DirectoryServices.AccountManagement, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
          <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
          <add assembly="Microsoft.Web.Administration, Version=7.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        </assemblies>
      </compilation>
      <roleManager enabled="true" defaultProvider="CMSRoleProvider">
        <providers>
          <clear />
          <add name="CMSRoleProvider" connectionStringName="CMServer" applicationName="/" type="CMSRoleProvider" />
        </providers>
      </roleManager>
      <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
      <authentication mode="Forms">
        <forms name=".ASPXFORMSAUTH" loginUrl="login" requireSSL="false" protection="All" path="/" timeout="60" slidingExpiration="true" />
      </authentication>
      <authorization>
        <allow users="*" />
        <!--<deny users="?" />-->
      </authorization>
      <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
        -->
      <!--<customErrors mode="On" defaultRedirect="Error.aspx">
      <error statusCode="404" redirect="404.htm" />
    </customErrors>-->
      <!--<customErrors mode="RemoteOnly" defaultRedirect="/en/Error" />-->
      <!--<customErrors mode="On" defaultRedirect="/en/error">
        <error statusCode="404" redirect="/en/error" />
    </customErrors>-->
    <customErrors mode="RemoteOnly" defaultRedirect="/error" />
      <httpHandlers>
        <!--<add path="*.pdf" verb="*" type="System.Web.StaticFileHandler" validate="true"/>-->
      </httpHandlers>
      <httpModules>
        <add name="CuteWebUI.UploadModule" type="CuteWebUI.UploadModule,CuteWebUI.AjaxUploader" />
        <!--<add name="HttpErrorModule" type="HttpErrorModule" />-->
      </httpModules>
      <pages>
        <namespaces>
          <add namespace="System.Web.Optimization" />
        </namespaces>
        <controls>
          <!--<add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />-->
          <add tagPrefix="webopt" assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" />
        </controls>
      </pages>
      <!--The default size is 4096 kilobytes (4 MB). MaxValue is 2147483647 KB (2 TB)-->
      <!-- 20 MB in kilobytes (20 * 1024) -->

        <httpRuntime maxRequestLength="167772160" executionTimeout="3600" />
        <sessionState cookieless="UseCookies" timeout="60" />
	    <httpCookies httpOnlyCookies="true" requireSSL="true" />
      <!--20-->
    </system.web>
  </location>
  <!--<location path="login.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>-->
  <!--<location path="ChangePassword.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="forgot.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="PasswVal.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>-->
  <location path="home.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="images">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="css">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="controls/content/edit.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
      <httpRuntime requestValidationMode="2.0" />
    </system.web>
  </location>
  <location path="controls/content/editck.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
      <httpRuntime requestValidationMode="2.0" />
    </system.web>
  </location>
  <location path="submitevent">
    <system.web>
      <pages validateRequest="false" />
      <httpRuntime targetFramework="4.5" requestValidationMode="2.0" />
    </system.web>
  </location>
  <location path="admin.aspx">
    <system.web>
      <pages validateRequest="false" />
      <httpRuntime targetFramework="4.5" requestValidationMode="2.0" />
    </system.web>
  </location>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <location path="." inheritInChildApplications="false">
    <system.webServer>
	
      <modules>
        <add name="CuteWebUI.UploadModule" type="CuteWebUI.UploadModule,CuteWebUI.AjaxUploader" />
        <remove name="FormsAuthenticationModule" />
        <add name="FormsAuthenticationModule" type="System.Web.Security.FormsAuthenticationModule" />
        <remove name="UrlAuthorization" />
        <add name="UrlAuthorization" type="System.Web.Security.UrlAuthorizationModule" />
        <remove name="DefaultAuthentication" />
        <add name="DefaultAuthentication" type="System.Web.Security.DefaultAuthenticationModule" />
        <remove name="RoleManager" />
        <add name="RoleManager" type="System.Web.Security.RoleManagerModule" />
      </modules>
      <httpProtocol>
        <customHeaders>
          <clear />
          <!--<add name="X-UA-Compatible" value="IE=edge" />-->
          <add name="X-Frame-Options" value="SAMEORIGIN" />
          <add name="Strict-Transport-Security" value="max-age=31536000" />
          <add name="X-Content-Type-Options" value="nosniff" />
          <add name="Referrer-Policy" value="same-origin" />
          <add name="Set-Cookie" value="Strict" />
        </customHeaders>
      </httpProtocol>
      <handlers>
        <!--<add name="Telerik_Web_UI_DialogHandler_aspx" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" />-->
        <!--<remove name="PageHandlerFactory-ISAPI-2.0" />
      <add name="Wildcard4Rewrite64" path="*" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="None" preCondition="classicMode,runtimeVersionv2.0,bitness64" />
      <add name="Wildcard4Rewrite" path="*" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="None" preCondition="classicMode,runtimeVersionv2.0,bitness32" />
      <add name="PageHandlerFactory-ISAPI-2.0" path="*.aspx" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32" responseBufferLimit="0" />-->
      </handlers>
      <staticContent>
        <mimeMap fileExtension=".iso" mimeType="application/octet-stream" />
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
      </staticContent>
      <defaultDocument enabled="false">
        <files>
          <clear />
          <add value="index.html" />
          <add value="default.aspx" />
        </files>
      </defaultDocument>
      <httpErrors errorMode="Custom" existingResponse="Auto" defaultResponseMode="ExecuteURL">
        <clear />
        <error statusCode="404" path="/error" responseMode="ExecuteURL" />
        <!--<error statusCode="500" path="/en/error" responseMode="ExecuteURL" />-->
      </httpErrors>
      <!--<httpErrors existingResponse="PassThrough" />-->
    </system.webServer>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering>
        <!--The default size is 30000000 bytes (28.6 MB). MaxValue is 4294967295 bytes (4 GB)-->
        <!-- 28.6 MB in bytes (28.6 * 1024 * 1024) -->
        <!--<requestLimits maxAllowedContentLength="30000000" />-->
        <!--<requestLimits maxAllowedContentLength="167772160" />-->
        <requestLimits maxAllowedContentLength="500000000" />
        <filteringRules>
          <filteringRule name="SQLInjection" scanUrl="false" scanQueryString="true">
            <appliesTo>
              <clear />
              <add fileExtension=".asp" />
              <add fileExtension=".aspx" />
              <add fileExtension=".php" />
            </appliesTo>
            <denyStrings>
              <clear />
              <add string="--" />
              <add string=";" />
              <add string="/*" />
              <add string="@" />
              <add string="char" />
              <add string="alter" />
              <add string="begin" />
              <add string="cast" />
              <add string="create" />
              <add string="cursor" />
              <add string="declare" />
              <add string="delete" />
              <add string="drop" />
              <!--<add string=" end" />-->
              <add string="exec" />
              <add string="fetch" />
              <add string="insert" />
              <add string="kill" />
              <add string="open " />
              <add string="select" />
              <add string="sys" />
              <add string="table " />
              <add string="update" />
            </denyStrings>
            <scanHeaders>
              <clear />
            </scanHeaders>
          </filteringRule>
        </filteringRules>
      </requestFiltering>
		<ipSecurity allowUnlisted="true">
                <add ipAddress="70.38.59.64" allowed="true" />
                <add ipAddress="72.55.174.161" allowed="true" />
                <add ipAddress="72.55.174.164" allowed="true" />
                <add ipAddress="70.38.59.71" allowed="true" />
			<add ipAddress="54.205.66.184" allowed="true" />
			<add ipAddress="216.208.214.69" allowed="true" />
                <add ipAddress="69.157.196.6" allowed="true" />
                <add ipAddress="142.198.239.183" allowed="true" />
                <add ipAddress="209.82.10.194" allowed="true" />
                <add ipAddress="99.229.61.146" allowed="true" />
                <add ipAddress="45.85.145.207" allowed="true" />
                <add ipAddress="216.208.214.208" allowed="true" />
                <add ipAddress="142.198.239.126" allowed="true" />
                <add ipAddress="99.237.150.244" allowed="true" />
                <add ipAddress="74.12.4.157" allowed="true" />
                <add ipAddress="70.55.8.72" allowed="true" />
                <add ipAddress="70.55.8.29" allowed="true" />
                <add ipAddress="142.113.147.192" allowed="true" />
                <add ipAddress="99.238.11.89" allowed="true" />
		</ipSecurity>	
    </security>
    <rewrite>
      <rules>
        <rule name="Redirect to www" stopProcessing="true">
          <match url="(.*)" />
          <conditions trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^empoweredkidsontario.ca$" />
          </conditions>
          <action type="Redirect" url="https://www.empoweredkidsontario.ca/{R:1}" redirectType="Permanent" />
        </rule>
        <rule name="Redirect HTTP to HTTPS" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
        <rule name="Redirect sitemap.xml" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^sitemap.xml$" />
          <action type="Rewrite" url="/sitemap.ashx" />
        </rule>
        <rule name="Redirect robots.txt" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^robots.txt$" />
          <action type="Rewrite" url="/robots.ashx" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<location path="about/ceo-welcome">
    <system.webServer>
      <httpRedirect enabled="true" destination="welcome" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
 
  <location path="our-mission">
    <system.webServer>
      <httpRedirect enabled="true" destination="missionvisionvalues" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="what-guides-us/2018-21strategicplan">
    <system.webServer>
      <httpRedirect enabled="true" destination="strategicplan" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="excellence-care-for-all-act">
    <system.webServer>
      <httpRedirect enabled="true" destination="QIP" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="meet-our-board">
    <system.webServer>
      <httpRedirect enabled="true" destination="meetourboard" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="board-information">
    <system.webServer>
      <httpRedirect enabled="true" destination="boardmeetings" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="corporate-information/our-history">
    <system.webServer>
      <httpRedirect enabled="true" destination="ourhistory" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="annual-general-meeting">
    <system.webServer>
      <httpRedirect enabled="true" destination="AGM" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="financial-statements">
    <system.webServer>
      <httpRedirect enabled="true" destination="finance" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="hospital-services-accountability-agreement-hsaa">
    <system.webServer>
      <httpRedirect enabled="true" destination="HSAA" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="core-capital-program">
    <system.webServer>
      <httpRedirect enabled="true" destination="corecapitalprogram" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="corporate-by-laws">
    <system.webServer>
      <httpRedirect enabled="true" destination="bylaws" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="about/accountability-public-reporting-performance">
    <system.webServer>
      <httpRedirect enabled="true" destination="accountability" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="balanced-scorecard">
    <system.webServer>
      <httpRedirect enabled="true" destination="balancedscorecard" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="wait-time-strategy">
    <system.webServer>
      <httpRedirect enabled="true" destination="waittimestrategy" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="our-ontarians-with-disability-act-plan">
    <system.webServer>
      <httpRedirect enabled="true" destination="accessibility" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="freedom-of-information-foi">
    <system.webServer>
      <httpRedirect enabled="true" destination="privacy" httpResponseStatus="Permanent" />
    </system.webServer>
  </location> 
  <location path="green-energy-report">
    <system.webServer>
      <httpRedirect enabled="true" destination="greenenergyplan" httpResponseStatus="Permanent" />
    </system.webServer>
  </location> 
  <location path="category/new">
    <system.webServer>
      <httpRedirect enabled="true" destination="whatsnew" httpResponseStatus="Permanent" />
    </system.webServer>
  </location> 
  <location path="press-releases-and-other-news/speakers-bureau">
    <system.webServer>
      <httpRedirect enabled="true" destination="speakersbureau" httpResponseStatus="Permanent" />
    </system.webServer>
  </location> 
  <location path="patients-and-visitors">
    <system.webServer>
      <httpRedirect enabled="true" destination="patientsandfamilies" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>-->
  <ajaxControlToolkit htmlSanitizer="AjaxControlToolkit.HtmlEditor.Sanitizer.DefaultHtmlSanitizer, AjaxControlToolkit.HtmlEditor.Sanitizer" />
</configuration>