.quickWrapper.QuickLinkIcons {
    display: grid;
    grid-template-columns:1fr;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    max-width: 100%;
    width:100%;
    margin-bottom: 10px;
}
.quickWrapper.QuickLinkIcons a {
    position: relative;
    align-items: center;
    justify-content: left;
    text-decoration: none;
    color: #333333;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    font-size: 16px;
    font-family: 'Avenir-normal';
    display: block;
    position: relative;
    /*height: 110px;*/
    display: flex !important;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 20px;
    padding: 20px 1%;
    width: 90%;
    margin-bottom: 20px;
}
/*.quickWrapper.QuickLinkIcons a.qLinkIcon span{
    display: block;
    height: 45px;
    position: absolute;
    bottom: 14px;
    line-height: initial;
}*/
.quickWrapper.QuickLinkIcons a.qLinkIcon span{
    display: flex;
    height: 30px;
    position: absolute;
    bottom: 14px;
    line-height: initial;
    right: 45px;
    border-radius: 50%;
    background-color: var(--purple);
    color:#fff;
    width: 30px;
    justify-content: center;
    align-items: center;
}
#resSearchResults .quickWrapper.QuickLinkIcons a.qLinkIcon span {
    font-size:20px;
}
.quickWrapper.QuickLinkIcons img {
    width: auto;
    height: 50px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 16px;
    transition: .5s;
    z-index: 99;
}
.quickWrapper.QuickLinkIcons >a img:nth-child(2){
    opacity: 0;
    z-index: -1;
}
.quickWrapper.QuickLinkIcons >a:hover img:nth-child(1){
    opacity: 0;
    z-index: -1;
}
.quickWrapper.QuickLinkIcons >a:hover img:nth-child(2){
    opacity: 1;
    z-index: 99;
}
.quickWrapper.QuickLinkIcons br{
    /* display: none;*/
}
/*.quickWrapper.QuickLinkIcons > a:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;*/
    /*	top: 14px;*/
    /*left: 17px;
    background-size: 42px auto !important;
}*/
/*.quickWrapper.QuickLinkIcons a:first-child {
    border: 3px solid #4d607e;
}
.quickWrapper.QuickLinkIcons a:nth-child(2) {
    border: 3px solid #77b751; 
}
.quickWrapper.QuickLinkIcons a:nth-child(3) {
    border: 3px solid #ea5b3b; 
}
.quickWrapper.QuickLinkIcons a:nth-child(4) {
    border: 3px solid #263777; 
}
.quickWrapper.QuickLinkIcons a:nth-child(5) {
    border: 3px solid #77b751; 
}
.quickWrapper.QuickLinkIcons a:nth-child(6) {
    border: 3px solid #4d607e;
}
.quicklink-tumbnail-wrap {
    position: relative;
}*/
.quickWrapper.QuickLinkIcons a{
    border: 2px solid #4d607e!important;

}
.quicklink-tumbnail-wrap .link-title {
    font-size: 24px;
    color: #fff;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    z-index: 20;
    font-weight: 400 !important;
    text-align: left !important;
    padding: 0 30px;
    font-family: 'Montserrat', sans-serif !important;
    text-transform: capitalize;
}
@media (max-width: 1024px) {
    .quickWrapper.QuickLinkIcons {
        flex-wrap: wrap;
    }
    .quickWrapper.QuickLinkIcons a {
        width: 27%;
        padding: 2%;
        height: 110px !important;
        padding-bottom: 30px;
    }
    .quickWrapper.QuickLinkIcons a.qLinkIcon span {
        bottom: 20px;
    }
    .quickWrapper.QuickLinkPhotos {
        flex-wrap: wrap;
        width: 100% !important;
        max-width: 100% !important;
    }
    .quickWrapper.QuickLinkPhotos a {
        width: 94%;
        padding: 2%;
    }
    .quickWrapper.QuickLinkPhotos img {
        width: 100% !important;
        height: auto !important;
    }
    .quickWrapper.QuickLinkPhotos a {
        width: 100% !important;
        height: auto !important;
    }
    .quickWrapper.QuickLinkIcons a.qLinkIcon span {
        height: auto !important;
    }
    
}
@media (max-width: 768px) {
    .quickWrapper.QuickLinkIcons a {
        flex-wrap: wrap;
        width: 42%;
    }
    .quickWrapper.QuickLinkPhotos {
        width: 100% !important
    }
    .quickWrapper.QuickLinkPhotos img {
        width: 100% !important;
        height: auto !important;
    }
    .quickWrapper.QuickLinkPhotos a {
        width: 100% !important;
        height: auto !important;
    }
    #mainContentHome.contained-width .intro .quickWrapper.QuickLinkIcons {
        padding-left: 3%;
        padding-right: 3%;
        width: 93%;
    }
}

@media (max-width: 480px) {
    .quickWrapper.QuickLinkIcons a {
        flex-wrap: wrap;
        width: 44%;
        padding: 1%;
        margin-bottom: 14px;
        padding-bottom: 20px;
        font-size: 12px;
    }
    .footer-list a {
        font-size: 12px;
    }
}
/* @media only screen and (max-width: 1500px) {
    .quickWrapper.QuickLinkIcons img {
        width: 100px;
        height: 100px;
    }
    .quickWrapper.QuickLinkIcons >a{
        height: 150px;
    }
    .quickWrapper.QuickLinkIcons{
        width: 1100px;
    }
} */
/* @media only screen and (max-width:1350px) {
.quickWrapper.QuickLinkIcons img {
    width: 90px;
    height: 90px;
}
.quickWrapper.QuickLinkIcons >a{
    height:160px;
}
.quickWrapper.QuickLinkIcons{
    width: 1000px;
}
} */
  /* @media only screen and (max-width:1200px) {
    .quickWrapper.QuickLinkIcons a{
        font-size: 15px;
    }
  } */
  /* @media only screen and (max-width:1200px) {
    .quickWrapper.QuickLinkIcons img{
       width: 70px;
       height: 70px;
    }
    .quickWrapper.QuickLinkIcons{
        max-width: 90%;
    }
    .quickWrapper.QuickLinkIcons a{
        font-size: 13px;
        width: 170px;
        margin-bottom: 15px;
        height: 150px;
    }
  } */
  /* @media only screen and (max-width: 1024px) {
    .quickWrapper.QuickLinkIcons{
        width: 530px;
        max-width: 75%;
    }
  } */
  /* @media only screen and (max-width: 600px) {
    #mainContentHome{
        margin-top: 150px;
    }
    .quickWrapper.QuickLinkIcons{
        width: 90% !important;
    }
    .quickWrapper.QuickLinkIcons a{
        width: 150px;
        margin-bottom: 35px;
        height: 150px;
    }
    .quickWrapper.QuickLinkIcons img{
        width: 60px;
        height: 60px;
    }

  } */
  /* @media only screen and (max-width:523px) {
    .quickWrapper.QuickLinkIcons a{
        width: 125px;
        font-size: 12px;
    }
    .quickWrapper.QuickLinkIcons img{}

  } */
  /* @media only screen and (max-width:439px) {
    .homejointeam .gridlastthird >div.outterContWrap.slick:nth-child(2){
        position: relative !important;
        top: -100px !important;
        padding-top: 0 !important;
    }
    .homejointeam{
        margin-top: 150px;
        max-height: 425px !important;
    }
    .homejointeam .gridlastthird >div.outterContWrap.slick:nth-child(1){
        top: -120px !important;
    }
    .homejointeam .gridlastthird img{
        height: 270px !important;
        border-top-left-radius: 10px !important;
    }
    .homeIntroSection{
        max-height: 425px !important;
    }
    .quickWrapper.QuickLinkIcons{
        width: 85% !important;
    }
    .quickWrapper.QuickLinkIcons a{
        width: 98px;
        height: 130px;
        margin-bottom: 0;
    }
    .quickWrapper.QuickLinkIcons img{
        width: 75px;
        height: 75px;
    }
    .quickWrapper.QuickLinkIcons a.qLinkIcon span{
        bottom: -5px;
        width: 85px;
    }
    .homeIntroSection .gridlastthird >div.outterContWrap.slick:nth-child(2){
        position: relative !important;
        top: -75px !important;
    }
    .homeIntroSection .outterContWrap.slick{
        top: -75px !important;
    }

  } */